html,body{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
}

#container{
	width: 600px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#videoPlayer{
	width: 100%;
}

#currentSecond,#totalVideoDuration,#dragableBar,#timer,#volumeContainer,#currentVolume{
	display: inline-block;
}

button#playPauseBut{
	width: 23px;
	height: 23px;
	border: 1px solid #cbcbcb;
	background-position: center;
	border-radius: 50%;
	outline:none;
	margin: 0 4px 0 0;
}


button#fullScreen{
	width: 23px;
	height: 23px;
	background-position: center;
	outline:none;
	border: none;
}

.play{
	background: url(../img/buttons/play.svg);
}

.pause{
	background: url(../img/buttons/pause.svg);
}

.fullscreen{
	background: url(../img/buttons/full_screen1.svg);
	background-repeat: no-repeat;
	float: right;
	position: relative;
}

#dragableContainer{
	height: 13px;
	width: 65%;
	display: inline-block;
}


#dragableBar{
	width: 100%;
	height: 2px;
	background-color: #e8e8e8;
	position: relative;
	bottom: 8px;
}

@-moz-document url-prefix() { 
  #dragableBar {
	bottom: 0;
}

#timer, #volumeContainer2,#fullScreen{
	bottom: -5px !important;	
}

#dragableContainer{
	height: 27px;
}

}

#dragableBlock{
	width: 2px;
	height: 13px;
	background-color: black;
	position: absolute;
	bottom: -5px;
}

#timer{
	margin: 0 10px;
	position: relative;
	bottom: 4px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.ttf) format('ttf');
}

#mediaButtons{
	position: relative;
}


#volumeContainer2{
	display: inline-block;
	height: 10px;
	position: relative;
	cursor: pointer;
	bottom: 2px;
}

.volumeBar{
	display: inline-block;
	width: 1px;
	height: 9px;
	float: left;
	margin: 0px 0px 0px 1px;
	background-color: #a1a1a1;
}

#currentVolume{
	background-color: black;
	width: 100%;
	height: 10px;
	position: absolute;
}

#vol0,#vol1,#vol2,#vol3,#vol4{
	background-color: #000;
}

#controlsCointainer{
	position: relative;
}

/*Responsive Design*/

@media only screen and (max-device-width : 768px){	
	#fullScreen{
		display: none;
	}

	#volumeContainer{
		top:6px;
		float: right;
	}

	#videoPlayer{
		height: 400px;
	}
}